In [11]:
import boto3
import pandas

In [10]:
AccessKey = 'AKIAZZ33YB65GZIN656A'
SecretKey = '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'
s3r = boto3.resource('s3', aws_access_key_id=AccessKey, aws_secret_access_key=SecretKey)
bucket = s3r.Bucket('mindex-data-analytics-code-challenge')
file_list = ['bengals.csv', 'boyd_receiving.csv', 'chase_receiving.csv', 'higgins_receiving.csv']
# make list of file names to remove redundant code to download files from S3 bucket
for file in file_list:
    bucket.download_file(file, file)

In [12]:
bengals_data = pandas.read_csv('./bengals.csv')
boyd_data = pandas.read_csv('./boyd_receiving.csv')
chase_data = pandas.read_csv('./chase_receiving.csv')
higgins_data = pandas.read_csv('./higgins_receiving.csv')

In [22]:
# Renaming Indivudal Player's Stats Columns for Joining/Readability Purposes
boyd_data = boyd_data.rename(columns={"Yards": "Boyd Yards", "TD": "Boyd TD"})
chase_data = chase_data.rename(columns={"Yards": "Chase Yards", "TD": "Chase TD"})
higgins_data = higgins_data.rename(columns={"Yards": "Higgins Yards", "TD": "Higgins TD"})

In [29]:
total_data = bengals_data.merge(boyd_data).merge(chase_data).merge(higgins_data)

,Week,Opponent,Location,Result,Boyd Yards,Boyd TD,Chase Yards,Chase TD,Higgins Yards,Higgins TD
0,REG1,MIN,Home,1.0,32,0,101,1,58,1
1,REG2,CHI,Away,0.0,73,0,54,1,60,1
2,REG5,GB,Home,0.0,24,0,159,1,32,0
3,REG6,DET,Away,1.0,7,0,97,0,44,0
4,REG7,BAL,Away,1.0,39,0,201,1,62,0
5,REG8,NYJ,Away,0.0,69,1,32,1,97,0
6,REG9,CLE,Home,0.0,11,0,49,0,78,0
7,REG11,LV,Away,1.0,49,0,32,1,15,0
8,REG12,PIT,Home,1.0,13,0,39,0,114,1
9,REG13,LAC,Home,0.0,85,0,52,0,138,1
10,REG14,SF,Home,0.0,55,0,77,2,114,0
11,REG15,DEN,Away,1.0,96,1,3,0,23,0
12,REG16,BAL,Home,1.0,85,1,125,0,194,2
13,REG17,KC,Home,1.0,36,1,266,3,62,0
14,POST1,LV,Home,1.0,26,1,116,0,10,0
15,POST2,TEN,Away,1.0,17,0,109,0,96,0
16,POST3,KC,Away,1.0,19,0,54,1,103,0
17,POST4,LAR,Neutral,0.0,48,0,89,0,100,2